<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.supercars.net/blog/wp-content/uploads/2020/07/717662-scaled.jpg);">
  <div class="container">
    <h1>My Car Rental</h1>
    <p>Your preferred car rental on the island</p>

    <%= link_to "/cars" do %>
        <button type="button" class="btn btn-flat">See Available Cars</button>
      <% end %>
  </div>
</div>

<br>
<br>

<div class="container">
  <h1>Most Popular Cars</h1>
</div>

<br>

<section class="Home__cards">
  <div class="container">
    <h2 class="Home__cards-heading">Recently Added Boats</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <a class="Card" href="/boats/74">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">2342342</h3>
      <div class="Card__price">$ 234234.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="Card" href="/boats/73">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">3495803958</h3>
      <div class="Card__price">$ 40.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="Card" href="/boats/72">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">ferve</h3>
      <div class="Card__price">$ 44.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="Card" href="/boats/71">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">desc</h3>
      <div class="Card__price">$ 2222.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
        <div class="col-sm-6 col-md-4">
        
          <a class="Card" href="/boats/70">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">My boat</h3>
      <div class="Card__price">$ 20.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="Card" href="/boats/69">
  <div class="Card__inner">
    <figure class="Card__img">
    </figure>
    <div class="Card__body">
      <h3 class="Card__title">CECR</h3>
      <div class="Card__price">$ 20.00 / day</div>
      <div class="Card__meta">
        <div class="Card__rating">
            <div class="d-flex">
            </div>

        </div>
          <i class="fas fa-heart color-grey-text"></i>
      </div>
    </div>
  </div>
</a>
        </div>
    </div>
  </div>
</section>

<br>
<br>

<div class="container">
  <h1>What our customers say about us</h1>
</div>

<br>

<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)">
      "Super nice service, much appreciated!"
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)">
      "The best car rental company I've ever used! Highly recommended!"
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80)">
      "I loved the wide range of cars available, choices available for everyone!"
    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Brought to you with <i class="fas fa-heart"></i> by My Car Rental
  </div>
</div>
