<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.supercars.net/blog/wp-content/uploads/2020/07/717662-scaled.jpg);">
  <div class="container">
    <h1>My Car Rental</h1>
    <p>Your preferred car rental on the island</p>

    <%= link_to "/cars" do %>
        <button type="button" class="btn btn-flat">See Available Cars</button>
      <% end %>
  </div>
</div>

<br>
<br>

<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">Most</span>
    <span class="title-word title-word-2">Popular</span>
    <span class="title-word title-word-3">Cars</span>
  </h2>
</div>

<br>

<div class="container">

  <div class="cardscar">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1525609004556-c46c7d6cf023?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=452&q=80)">
      Lamborghini
    </div>


    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)">
      Mustang GT
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1618843479313-40f8afb4b4d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
      Mercedes
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <h2 class="title">
    <span class="title-word title-word-1">What Our</span>
    <span class="title-word title-word-2">Customers Say</span>
    <span class="title-word title-word-3">About Us</span>
  </h2>
</div>

<br>

<div class="container mb-4">
  <div class="cards">
    <div class="rev">
      <img src="https://photofocus.com/wp-content/uploads/2020/01/IMG_1683.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Sabrina</b></h4>
        <p>"Super nice service, much appreciated!"</p>
      </div>
    </div>

    <div class="rev">
      <img src="https://expertphotography.b-cdn.net/wp-content/uploads/2018/06/outdoor-portrait-photography.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>John</b></h4>
        <p>"The best car rental company I've ever used! Highly recommended!"</p>
      </div>
    </div>

    <div class="rev">
      <img src="https://bidunart.com/wp-content/uploads/2019/12/Portrait169a-1-1024x819.jpg" alt="Avatar" style="width:100%">
      <div class="container">
        <h4><b>Rita</b></h4>
        <p>"I loved the wide range of cars available, choices available for everyone!"</p>
      </div>
    </div>

  </div>
</div>
