.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  color: #f7f9f8;
  text-align: center;
  height: 300px;
}

.card-category {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 50%;
  height: 100%;
  float: left;
  padding: 20px;
}

.ul {
  list-style-position: inside;
}

.center {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 6%;
  border: 1px solid grey;
  margin-left: 20%;
  margin-right: 20%;
}

.card-car {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  background: transparent;
}
