.footer {
  background: #1c1616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #22b4a8;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #22b4a8;
}

.footer-placeholder {
  height: 50px;
  padding-top: 30px;
}
